/* Start variables */
:root {
	--main-color: #10cab7;
	--main-duration: .5s;
	--section-padding: 60px;
	--section-background-color: #f6f6f6;
	--main-gap: 20px;
	--paragraph-color: #777;
	--paragraph-line-height: 1.8;
}
/* End variables */

/* Start global rules */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */

/* Start header */
header {
	padding: 20px;
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 1;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container img {
	width: 60px;
}

header .container nav {
	position: relative;
	cursor: pointer;
}

header .container nav .bars {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

header .container nav .bars div {
	background-color: #333;
	height: 2px;
}

header .container nav .bars div:not(:last-child) {
	margin-bottom: 5px;
}

header .container nav .bars div:not(:nth-child(2)) {
	width: 100%
}

header .container nav .bars div:nth-of-type(2) {
	transition: var(--main-duration);
	width: 60%;
}

header .container nav:hover div:nth-of-type(2) {
	width: 100% !important;
}

header .container nav ul::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(calc(50% - 30px / 2), -100%);
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f6f6f6;
}

header .container nav ul {
	display: none;
	background-color: #f6f6f6;
	list-style-type: none;
	width: 200px;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: calc(100% + 15px);
}

header .container nav ul li {}

header .container nav ul li a {
	color: #333;
	display: block;
	padding: 15px;
	text-decoration: none;
	transition: var(--main-duration);
}

header .container nav ul li a:hover {
	padding-left: 25px;
}

header .container nav ul li:not(:last-child) a { 
	border-bottom: 1px solid #ddd;
}
/* End header */

/* Start landing */
.landing {
	background-image: url('../images/landing.jpg');
	background-size: cover;
	height: calc(100vh - 64px);
	position: relative;
}

.landing .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	text-align: center;
}

.landing .text h1 {
	color: var(--main-color);
	font-size: 50px;
	font-weight: bold;
	margin: 0;
}

.landing .text p {
	font-size: 19px;
	line-height: var(--paragraph-line-height);
}
/* End landing */

/* Start features */
.features {
	background-color: var(--section-background-color);
	padding: var(--section-padding) 0;
}

.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--main-gap);
}

.features .container .feature {
	text-align: center;
}

.features .container .feature i {
	color: var(--main-color);
}

.features .container .feature h3 {
	font-weight: 800;
	margin: 30px 0;
}

.features .container .feature p {
	font-size: 17px;
	color: var(--paragraph-color);
	line-height: var(--paragraph-line-height);
}
/* End features */